<form class="container" [formGroup]="formulario" (ngSubmit)="onSubmit()" >
  <h2>Ingreso de Estudiante</h2>
   <mat-form-field class="elemento">
     <mat-label>Nombre de Estudiante</mat-label>
     <input type="text" matInput formControlName="nombre">
     <mat-icon matSuffix>face</mat-icon>
   </mat-form-field>
   <mat-form-field class="elemento">
     <mat-label>Fecha Nacimiento</mat-label>
     <input matInput [matDatepicker]="calen" formControlName="fecha">
     <mat-datepicker-toggle matSuffix [for]="calen"></mat-datepicker-toggle>
     <mat-datepicker #calen></mat-datepicker>
   </mat-form-field>
   <div class="elemento">
     <label>Sexo</label><br>
     <mat-radio-group class="radio-group" formControlName="sexo">
      <mat-radio-button value="1">Masculino</mat-radio-button>
      <mat-radio-button value="2">Femenino</mat-radio-button>
     </mat-radio-group>
   </div>
   <button mat-raised-button type="submit" color="primary">Enviar</button>
</form>
